<div class="adjust-login">
  <form [formGroup]="carForm" class="carForm">
    <div>
      <div fxLayoutAlign="center center">
        <img src="logo_pitang.png" alt="Logo" width="70%" />
      </div>
      <p-floatLabel>
        <input fxFlex id="year" type="number" pInputText formControlName="year" />
        <label for="year">Login</label>
      </p-floatLabel>
      <p-floatLabel>
        <input fxFlex id="licensePlate" type="password" pInputText formControlName="licensePlate" />
        <label for="licensePlate">Password</label>
      </p-floatLabel>
      <div fxLayoutAlign="center">
        <button
          style="width: 60%"
          fxLayoutAlign="center"
          type="button"
          pButton
          (click)="addCar()">
          Sign In
        </button>
      </div>
    </div>
  </form>
</div>
